<div class='container'>
  <div class='account-profile-main container-fluid'>
    <div class='row'>
      <div class='col-3'>
        <div class='avatar'>
          <div class='avatar-left'>
                        <input type='file' id='avatar-input' accept='image/*' style='display: none;' />
                        <img id='avatar-image' src='{{user.avatar}}' alt='Avatar' />
                    </div>

          <div class='avatar-right'>
            <div class='info-avatar'>
              <span class='avatar-name'>{{user.firstName}} {{user.lastName}}</span>
              <span class='avatar-mail mail'>{{user.email}}</span>
            </div>
            <div class='signup-btn'>
              <button type='button' class='btn btn-outline-secondary'
                onclick="window.location.href='/account/sign-out';">SIGN OUT</button>
            </div>
          </div>
        </div>
        <div class='my-account'>
          <a href='http://localhost:3000/account/my-profile/{{user._id}}'>
            <button type='button' class='btn btn-outline-secondary'>
              <i class='fa-solid fa-pen-to-square'></i>
              <span class='page-link'>My account</span>
            </button>
          </a>
        </div>
        <div class='my-order'>
          <a href='http://localhost:3000/account/my-order/{{user._id}}'>
            <button type='button' class='btn btn-outline-secondary'>
              <i class='fa-solid fa-cart-shopping'></i>
              <span class='page-link'>My order</span>
            </button>
          </a>
        </div>
        <div class='become-seller'>
                    <a href='http://localhost:3000/{{switchLink}}'>
                        <button type='button' class='btn btn-outline-secondary bg-blue'>
                            <i class='fa-solid fa-user color-white'></i>
                            <span class='page-link color-white'>{{switchRole}}</span>
                        </button>
                    </a>
                </div>
        <div class='remain'></div>
      </div>
      <div class='col-9'>
        <form class='row g-3' id='form-1' method="POST" action="/account/become-seller/{{user._id}}/register-seller">
          <div class='col-md-6'>
            <label class='form-label fw-bold'>Name of your shop *</label>
            <input id='shopName' type='text' class='form-control input-size shadow' name="shopName" />
          </div>
          <div class='col-md-6'>
            <label class='form-label fw-bold'>Job *</label>
            <input id='job' type='text' class='form-control input-size shadow' name="job" value="{{user.job}}" />
          </div>
          {{!-- <div class='col-md-6'>
            <div class='form-group'>
              <label class='form-label fw-bold'>Job</label>
              <select id='job' class='form-select input-size shadow'>
                <option selected>Student</option>
                <option>Alumni</option>
                <option>Lecturer</option>
              </select>
              <span class='form-message'></span>
            </div>
          </div> --}}
          <div class='col-12'>
            <label class='form-label fw-bold'>Address *</label>
            <input id='address' type='text' class='form-control input-size shadow' placeholder='' name="address" />
          </div>
          <div class='col-12'>
            <label class='form-label fw-bold'>Email *</label>
            <label class='form-label'>(Can be edited in profile)</label>
            <input id='email' type='text' class='form-control disabled input-size shadow' name="email"
              value="{{user.email}}" />

          </div>
          <div class='col-12'>
            <label class='form-label fw-bold'>Phone number *</label>
            <label class='form-label'>(Can be edited in profile)</label>
            <input id='phone' type='text' class='form-control disabled input-size shadow' name="phone"
              value="{{user.phone}}" />

          </div>

          <div class='contract-container'>
            <div class='contract-content'>
              <h2>Terms and conditions</h2>
              <p> 1. Business registration: Before starting an online business,
                you should register your business or go through the necessary
                business establishment procedures if required by the regulations
                of your country or region.</p>
              <p> 2. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <p> 3. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <p> 4. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <p> 5. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <p> 6. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <p> 7. Compliance with laws: Ensure compliance with business laws,
                consumer protection, and the safeguarding of customers' personal
                information. This is particularly important when collecting and
                processing customers' personal information.</p>
              <!-- Thêm nội dung điều khoản hợp đồng khác ở đây -->
            </div>
          </div>

          <div class='form-check agree-term'>
            <input id='flexCheckDefault' class='form-check-input' type='checkbox' value='' />
            <label class='form-check-label fw-bold' for='flexCheckDefault'>
              I agree to the terms and conditions.
            </label>
          </div>

          <div class='col-12 register'>
            <button type="submit" class='form-submit btn btn-outline-secondary shadow'>REGISTER</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{{!-- <script src='/js/become-seller.js'></script>
<script src='/js/validation.js'></script> --}}
<script src='/js/becomeSellerValidation.js'></script>