<section class="sales-page container">
  <section class='row'>
    {{>sales-page}}
    <section class='dashboard col-10'>
      <p class='dashboard-breadcrumb'>Dashboard</p>
      <section class="dashboard-general col-8 mx-auto">
        <ul class="dashboard-general-list row gx-0 mb-5">
          <li class="dashboard-general-item col d-flex flex-column align-items-center">
            <p class="dashboard-general-title d-flex align-items-center">
              <i class="fa-solid fa-money-bill-wave text-center "></i>
              <span>Total income</span>
            </p>
            <p class="dashboard-general-content fw-bold">1500000 VND</p>
          </li>
          <li class="dashboard-general-item col d-flex flex-column align-items-center">
            <p class="dashboard-general-title d-flex align-items-center">
              <i class="fa-solid fa-truck text-center"></i>
              <span>Total orders</span>
            </p>
            <p class="dashboard-general-content fw-bold">300</p>
          </li>
          <li class="dashboard-general-item col d-flex flex-column align-items-center">
            <p class="dashboard-general-title d-flex align-items-center">
              <i class="fa-solid fa-box-open text-center"></i>
              <span>Total stock</span>
            </p>
            <p class="dashboard-general-content fw-bold">20</p>
          </li>
        </ul>
        <ul class="dashboard-general-list row gx-0">
          <li class="dashboard-general-item col d-flex flex-column align-items-center">
            <p class="dashboard-general-title d-flex align-items-center">
              <i class="fa-solid fa-eye text-center "></i>
              <span>Total views</span>
            </p>
            <p class="dashboard-general-content fw-bold">80</p>
          </li>
          <li class="dashboard-general-item col d-flex flex-column align-items-center">
            <p class="dashboard-general-title d-flex align-items-center">
              <i class="fa-solid fa-comments  text-center"></i>
              <span>Total reviews</span>
            </p>
            <p class="dashboard-general-content fw-bold">1234</p>
          </li>
          <li class="dashboard-general-item col d-flex flex-column align-items-center">
            <p class="dashboard-general-title d-flex align-items-center">
              <i class="fa-solid fa-star text-center"></i>
              <span>Average rating</span>
            </p>
            <p class="dashboard-general-content fw-bold">4.7</p>
          </li>
        </ul>
      </section>
      <section class="dashboard-specific">
        <ul class="dashboard-specific-titles row gx-0">
          <li class="dashboard-specific-title text-center col-1">Image</li>
          <li class="dashboard-specific-title text-center col">Name</li>
          <li class="dashboard-specific-title text-center col-1">Purchased</li>
          <li class="dashboard-specific-title text-center col-2">Conversion Rate</li>
          <li class="dashboard-specific-title text-center col-1">Reviews</li>
          <li class="dashboard-specific-title text-center col-1">Rating</li>
        </ul>
        <ul class="dashboard-specific-list">
          {{#each products}}
          <li class="dashboard-specific-item">
            <ul class="dashboard-specific-infos row gx-0 align-items-center">
              <li class="dashboard-specific-info text-center col-1">
              <img src="{{this.image}}" alt="ky thuat lap trinh" class="dashboard-specific-img">
              </li>
              <li class="dashboard-specific-info text-center col px-5">{{this.name}}</li>
              <li class="dashboard-specific-info text-center col-1">2</li>
              <li class="dashboard-specific-info text-center col-2">66.67%</li>
              <li class="dashboard-specific-info text-center col-1">13</li>
              <li class="dashboard-specific-info text-center col-1">4.7</li>
            </ul>
          </li>
          {{/each}}
        </ul>
      </section>
    <script>
        let numberOfItems = {{_numberOfItems}};
        let limit = {{_limit}};
        let currentPage = {{_currentPage}};
        let leftMost = currentPage - ((currentPage - 1) % 3);
    </script>
    {{>pagination}}
    </section>
  </section>
</div>
