<main>
  {{! Hero (Carousel)  }}
  <div
    id='carouselExampleCaptions'
    class='carousel slide'
    data-bs-ride='carousel'
  >
    <div class='carousel-indicators'>
      <button
        type='button'
        data-bs-target='#carouselExampleCaptions'
        data-bs-slide-to='0'
        class='active'
        aria-current='true'
        aria-label='Slide 1'
      ></button>
      <button
        type='button'
        data-bs-target='#carouselExampleCaptions'
        data-bs-slide-to='1'
        aria-label='Slide 2'
      ></button>
      <button
        type='button'
        data-bs-target='#carouselExampleCaptions'
        data-bs-slide-to='2'
        aria-label='Slide 3'
      ></button>
    </div>
    <div class='carousel-inner'>
      <div class='carousel-item active' data-bs-interval='5000'>
        <img
          src='/img/hero/hero-1.jpg '
          style='filter:brightness(50%);'
          class='d-block w-100'
          alt='img'
        />
        <div class='carousel-caption d-none d-md-block'>
          <h1>2HandBook - A treasure trove of learning materials.</h1>
          <p>A platform that connects buyers and sellers of used books and other
            school materials.</p>
        </div>
      </div>
      <div class='carousel-item' data-bs-interval='5000'>
        <img
          src='/img/hero/hero-2.jpg'
          style='filter:brightness(50%);'
          class='d-block w-100'
          alt='img'
        />
        <div class='carousel-caption d-none d-md-block'>
          <h1>2HandBook - A diverse information technology bookcase.</h1>
          <p>A collection of information technology resources that are inclusive
            of different perspectives and experiences.</p>
        </div>
      </div>
      <div class='carousel-item' data-bs-interval='5000'>
        <img
          src='/img/hero/hero-3.jpg'
          style='filter:brightness(50%);'
          class='d-block w-100'
          alt='img'
        />
        <div class='carousel-caption d-none d-md-block'>
          <h1>2HandBook - Quick sharing of essential learning tools.</h1>
          <p>A place with all the necessary learning tools for you to go to the
            university.</p>
        </div>
      </div>
    </div>
    <button
      class='carousel-control-prev'
      type='button'
      data-bs-target='#carouselExampleCaptions'
      data-bs-slide='prev'
    >
      <span class='carousel-control-prev-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Previous</span>
    </button>
    <button
      class='carousel-control-next'
      type='button'
      data-bs-target='#carouselExampleCaptions'
      data-bs-slide='next'
    >
      <span class='carousel-control-next-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Next</span>
    </button>
  </div>

  <!-- Banner -->
  <section class='banner container'>
    <div class='banner-row'>
      <div class='col-6'>
        <img src='/img/banner-1.png' class='banner-img' alt='Something ...' />
      </div>
      <div class='banner-article col-6'>
        <h1 class='main-heading'>Introduction</h1>
        <p class='paragraph'>
          2Handbook serves as a marketplace for students to sell old study
          materials they no longer need to other students. The products can be
          old books, old documents, old calculators, etc. In addition, this
          website also welcomes other sellers like bookstores, stationery
          stores, printing shops.
        </p>
      </div>
    </div>
    <div class='banner-row'>
      <div class='banner-article col-6'>

        <h1 class='main-heading'>Handy &amp; versatile</h1>
        <p class='paragraph'>
          As a place to exchange learning materials on a variety of subjects and
          disciplines with each other, 2HandBook aims at convenience, ease of
          use for students as well as rich, quality resources at cheap prices.
        </p>
      </div>
      <div class='col-6'>
        <img src='/img/banner-2.png' class='banner-img' alt='Something ...' />
      </div>
    </div>
  </section>

  <!-- Trending  -->
  <section class='trend container'>
    <div class='row'>
      <div class='rectangle col'></div>
      <h2 class='main-heading col-md-auto'>DAILY DISCOVER</h2>
      <div class='rectangle col'></div>
    </div>
    <div class='trend-row row'>
      {{#each products}}
        <figure class='trend-card col-2 card'>
          <a
            href='/product/specific-product/{{this._id}}'
            class='trend-card-img'
          >
            <img
              src='{{this.image}}'
              class='trend-prod-img'
              alt='Something ...'
            />
          </a>
          <a
            href='/product/specific-product/{{this._id}}'
            class='trend-card-title text-truncate'
          >{{this.name}}</a>
          <p class='trend-card-price'>{{this.price}} VND</p>
          <a
            href='/product/specific-product/{{this._id}}'
            class='btn trend-card-btn'
          >Buy now</a>

        </figure>
      {{/each}}

    </div>
    <div class='see-more-btn'>
      <a href='./product/all-product' class='btn trend-btn'>
        <span>See more</span>
        <i class='fa-solid fa-cart-shopping cart-icon'></i>
      </a>
    </div>
  </section>
</main>
<script src='/js/home.js'></script>