<div class='specific-product container'>
  <div class='row payment-section'>
    <div class='col-6 img-item'>
      <a href='#'>
        <img class='img-product' src='{{product.image}}' alt='error' />
      </a>
    </div>
    <div class='col-6 details-item'>
      <div class='intro'>
        <form class='report-section' method='POST'
          action='/product/specific-product/{{product._id}}/report?_method=PUT'>
          <i class='fa-solid fa-ellipsis'></i>
          <button>Report</button>
        </form>
        <h1 class='product-name'>{{product.name}}
          ksa dasl dals dlas kdlas dlaksdl</h1>
        <h2 class='product-price'>{{product.price}}đ</h2>
        <div class='rating d-flex align-items-center mt-4'>
          <h3 class='score m-0'>{{showStar stars.avgRating}}</h3>
          <div class='rating-star ms-3'>
            <i class='fa-solid fa-star'></i>
            <i class='fa-solid fa-star'></i>
            <i class='fa-solid fa-star'></i>
            <i class='fa-solid fa-star'></i>
            <i class='fa-solid fa-star'></i>
          </div>
          <h3 class='number mb-0'>12 comments</h3>
        </div>
      </div>
      <div class='details-product'>
        <span>Details:</span>
        <ul class='details-list mt-3'>
          {{#each details}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>

      <div class='adjust-quantity d-flex'>
        <div class='quantity'>Quantity: 1</div>
        <div class='adjust-icon ms-5'>
          <a href='#' class='btn'>
            <i class='fa-sharp fa-solid fa-plus'></i>
          </a>
          <a href='#' class='btn'>
            <i class='fa-solid fa-minus'></i>
          </a>
        </div>
        <div class='available-product ms-5'>{{product.stock}}
          available products</div>
      </div>

      <div class='payment-btn-section'>
        <a href='/product/cart' class='add-cart-btn btn'>Add to cart</a>
        <a href='#' class='payment-btn btn'>BUY NOW</a>
      </div>
    </div>
    <hr />
  </div>

  <div class='row comment-section'>
    <div class='comment-item'>
      <section class='trend container'>
        <div class='row'>
          <div class='rectangle col'></div>
          <h2 class='main-heading col-md-auto'>COMMENT</h2>
          <div class='rectangle col'></div>
        </div>
      </section>

      <div class='write-cmt d-flex mt-3 align-items-center'>
        <textarea name='' id='' cols='60' rows='2' placeholder='Write to comment...'></textarea>
        <div class='send-btn btn'>
          <a href=''>
            <i class='fa-solid fa-paper-plane'></i>
          </a>
        </div>
      </div>

      <div class="comment-main mt-3" data-id="{{@index}}">
        {{#each evaluates}}
        <div class='comment-user'>
          <div class='information d-flex align-items-center'>
            <div class='avatar'>
              <a href='#'>
                <img class='img-avatar' src='{{this.idAccount.avatar}}' alt='error'/>
              </a>
            </div>
            <div class='infor-span ms-3'>
              <span class='name'>{{this.idAccount.lastName}} {{this.idAccount.firstName}}</span>
              <div class='date mt-1'>{{convertDate this.date}}</div>
            </div>
            <div class='stars ms-4'>
              <i class='fa-solid fa-star'></i>
              <i class='fa-solid fa-star'></i>
              <i class='fa-solid fa-star'></i>
              <i class='fa-solid fa-star'></i>
              <i class='fa-solid fa-star'></i>
            </div>
          </div>
          <div class='comment-info'>
            {{this.content}}
          </div>
        </div>
        <div class='reply-from-seller mt-3'>
          Seller: {{this.reply}}
        </div>
        {{/each}}
      </div>
    </div>
    {{>pagination}}
    {{!-- <div class='d-flex justify-content-center align-items-center'>
      <a href='#' class='extra-view-btn btn'>More</a>
    </div> --}}
    <hr />
  </div>

  <section class='trend row'>
    <div class='row'>
      <div class='rectangle col'></div>
      <h2 class='main-heading col-md-auto'>RELATED PRODUCT</h2>
      <div class='rectangle col'></div>
    </div>
    <div class='trend-row row'>
      {{#each related}}
      <div class='col-2'>
        <figure class='trend-card card'>
          <a href='/product/specific-product/{{this._id}}' class='trend-card-img'>
            <img src='{{this.image}}' class='trend-prod-img' alt='Something ...' />
          </a>
          <p class='trend-card-title'>{{this.name}}</p>
          <p class='trend-card-price'>{{this.price}} VND</p>
          <a href='#' class='btn trend-card-btn'>Buy now</a>
        </figure>
      </div>
      {{/each}}
    </div>
  </section>
</div>